.header {
    padding-top: 50px;
    border-bottom: 1px solid #efefef;

    @media (max-width: 1199px) {
        padding-top: 25px;
    }

    .logo img {
        width: 145px;
        height: 80px;

        @media (max-width: 991px) {
            width: 120px;
            height: 66px;
        }
    }

    .navbarNav {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 22px -35px 0;

        @media (max-width: 1199px) {
            margin: 15px -20px 0;
        }

        @media (max-width: 767px) {
            justify-content: space-between;
        }

        .navItem {

            .navLink {
                padding: 0 35px;
                font-size: 1.8rem;
                display: block;
                color: $gray;
                transition: color .3s;
                text-transform: uppercase;

                @media (max-width: 1199px) {
                    padding: 0 20px;
                }

                @media (max-width: 767px) {
                    font-size: 1.6rem;
                }

                &:hover {
                    text-decoration: none;
                }

                .content {
                    padding: 15px 0;
                    position: relative;
                    top: 1px;
                    display: block;
                    overflow: hidden;

                    &:after {
                        position: absolute;
                        bottom: 0;
                        content: '';
                        display: block;
                        width: 100%;
                        height: 3px;
                        background: $orange;
                        transform: translateX(-100%);
                        transition: transform .3s;
                    }
                }

                &.active, &:hover {
                    color: $orange;

                    .content:after {
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}